---
interface Props {
    width?: string;
    height?: string;
    rounded?: string;
    className?: string;
}

const { width = "w-full", height = "h-4", rounded = "rounded", className = "" } = Astro.props;
---

<div class={`animate-pulse bg-slate-200/60 ${width} ${height} ${rounded} ${className}`}></div>
